@{
    ViewData["Title"] = "Accounts";
}

<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
      <p>Here's a list of applications you can use:</p>
    } else
    {
      <p>King County Search and Rescue</p>
    }
</div>
