@{
    ViewData["Title"] = "Accounts";
}

<div class="row">
  @if (User.Identity.IsAuthenticated)
  {
    var apps = ((List<SarData.Auth.Data.Application>)ViewData["apps"]);
    <p>Here's a list of applications you can use:</p>
    foreach (var app in apps) {
      <p><a href="@app.Url">@app.Name</a> @app.Description</p>
    }
  }
  else
  {
    <p>King County Search and Rescue</p>
  }
</div>
