obj/
.vs/
bin/
*.user

PublishProfiles/
node_modules/

.leu
seed.json
dev-store.db
tempkey.rsa
appsettings.local.json
auth-web/members.json
auth-web/seed-oidc.json
auth-web/signing-key-public.txt
auth-web/plugins/
logs/
log-*.txt

ComponentSpace.Saml2.*