@{
    ViewData["Title"] = "Sign out";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
  <div class="col-md-6 col-sm-6">
    <p>Would you like to logout of King County SAR web sites?</p>
    <form method="post">
      <fieldset>
        <div class="form-group">
          <button class="btn btn-primary" id="yes">Yes</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>